.headerContainer {
  display: flex;
  flex-direction: column;
}

.achievementContainer {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-style: italic;
  margin-top: 1%;
}

.note {
  position: fixed;
  bottom: 0;
  font-style: italic;
  color: gray;
  display: flex;
  flex-direction: column;
}
