div {
  display: flex;
}

.mainContainer {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
}

.die {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.mulDie {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.mulDie .indvDie {
  border: 3px solid gold;
  color: gold;
}

p {
  line-height: 1vh;
}

#upgradeButton {
  background-color: black;
  border-color: whitesmoke;
}
