.gameContainer {
  width: 900px;
  height: 600px;
  border: 1px solid black;
  margin-top: 10%;
  flex-wrap: wrap;
  align-self: center;
  align-content: flex-start;
}

.playContainer {
  flex-direction: column;
}
