#cashAlert {
  margin-top: 3vh;
  animation-name: alertFade;
  animation-duration: 3s;
  position: absolute;
}

@keyframes alertFade {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
